{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="h-[100px] flex justify-between items-center px-8 border-primary border-b-[2px]">
    <img src="{% static 'images/logo.svg' %}" />
    <div class="flex space-x-6">
        <a class="text-primary font-inter text-[20px]" href="#">Home</a>
        {% if request.user.is_farmer %}
        <a class="text-primary font-inter text-[20px]" href="#">Dashboard</a>
        {% endif %}
        <a class="text-primary font-inter text-[20px]" href="#">Payment</a>
        <a class="text-primary font-inter text-[20px]" href="#">Chat With Us</a>
    </div>
    {{request.user.surname}}
    <a href="{% url 'accounts:logout' %}" class="border-primary border-[1px] rounded-[20px] p-4 text-primary">Log
        out</a>
</div>
{% block list_content %}
{% endblock list_content %}
{% endblock content %}