* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.inter {
    font-family: 'Inter', sans-serif;
}

.goldman {
    font-family: 'Goldman', cursive;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

:root {
    --lightgreen: #B5E991;
    --white: #FFFFFF;
    --primary: #4A7429;
}


.flex {
    display: flex;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-items: center;
}

.align-center {
    align-items: center;
}

.text-white {
    color: var(--white);
}

.text-primary {
    color: var(--primary);
}

.lds-ring {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 10px solid #4A7429;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #4A7429 transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}