{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Inter&family=Italiana&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                fontFamily: {
                    'sans': ['Goldman', 'cursive'],
                    'goldman': ['Goldman', 'cursive'],
                    'inter': ['Inter', 'sans-serif'],
                    'italiana': ['Italiana', 'serif']
                },
                extend: {
                    colors: {
                        lightgreen: '#B5E991',
                        primary: '#4A7429'
                    }
                }
            }
        }
    </script>
</head>

<body>
    {% block content %}
    {% endblock content %}
    {% for message in messages %}
    <span class="message hidden">{{message}}</span>
    {% endfor %}
</body>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script>
    let messages = document.querySelectorAll(".message")
    let toast = (message, isError) => {
        Toastify({
            text: message,
            duration: 3000,
            ...isError && {
                style: {
                    background: "red",
                }
            },
        }).showToast();
    }

    messages.forEach(message => {
        toast(message.innerText)
    })

</script>
{% block scripts %}
{% endblock scripts %}


</html>