{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="bg-white">
    <div class="h-[100px] px-[30px] flex items-center justify-between border-b-[6px] border-primary">
        <a href="{% url 'landing-page' %}">
            <img src="{% static 'images/logo.svg' %}" alt="PalmFarms Logo" />
        </a>
        <div class="flex items-center space-x-8">
            <a class="text-primary font-inter text-xl" href="{% url 'landing-page' %}">Home</a>
            <a class="text-primary font-inter text-xl" href="{% url 'about' %}">About Us</a>
            <a class="text-primary font-inter text-xl" href="{% url 'contact-us' %}">Contact Us</a>
            <a class="text-primary font-inter text-xl" href="{% url 'faq' %}">FAQ</a>
        </div>
        <div class="flex items-center space-x-2">
            <a href="{% url 'accounts:pre-signup' %}" class="px-[39px] py-[16px] border border-primary
            rounded-[20px] flex items-center hover:bg-primary hover:text-white transition-all
             justify-center text-primary bg-white text-[20px]">
                Register
            </a>
            <a href="{% url 'accounts:login' %}" class="px-[39px] py-[16px] border border-primary
            rounded-[20px] flex items-center hover:bg-primary hover:text-white transition-all
             justify-center text-primary bg-white text-[20px]">
                Sign in
            </a>
        </div>
    </div>
    <div class="items-center justify-center flex my-[47px]">
        <img src="{% static 'images/landing-text.svg' %}"
            alt="evolutionalizing The Farm with tech that fits the palm of your hand" />
    </div>
    <footer class="h-[94px] border-t-[6px] border-primary"></footer>
</div>
{% endblock content %}