{% extends 'pages/products/list-base.html' %}
{% block title %}
Payments
{% endblock title %}
{% block list_content %}
<div class="flex-col bg-[#94E56D]/[0.75] p-[100px]" style="min-height: calc(100vh - 100px)">
    <h5 class="text-primary text-4xl font-inter text-bold">Payment History</h5>
    <div class="flex items-center mt-5 space-x-3" id="select-list">
        <select name="month"
            class="font-inter mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block rounded-md sm:text-sm focus:ring-1">
            {% for month in months %}
            <option "{% if month.value == current_month %} selected {% endif %}" value="{{month.value}}">{{month.label}}
            </option>
            {% endfor %}
        </select>
        <select name="year"
            class="font-inter mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block rounded-md sm:text-sm focus:ring-1">
            {% for year in years %}
            <option "{% if year == current_year %} selected {% endif %}" value="{{year}}">{{year}}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mt-5 w-full">
        <table class="w-full font-inter">
            <thead class="bg-slate-50 border-b border-slate-200">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-slate-900">
                        Payment period
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-slate-900">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-slate-900">
                        Amount
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-sm font-medium text-slate-900">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody class="!w-full" id="table">
                {% include 'pages/payments/payment-list-rows.html' %}
            </tbody>
        </table>
    </div>
</div>
{% endblock list_content %}
{% block scripts %}
<script>
    const url = "{% url 'ajax:products:get_payments' %}"
    const monthSelect = $("select[name='month']")
    const yearSelect = $("select[name='year']")

    const getData = (month, year) => {
        $('#table').empty()
        $('#table').append(
            `<td colspan="4" class="h-[400px] bg-white">
            <div class="flex items-center justify-center">${loaderHTML}</div>
            </td>`
        )
        $.ajax({
            type: "GET",
            url,
            success: ({ data }) => {
                $('#table').empty()
                $('#table').append(data)
            },
            data: { month, year },
            error: response => {
                $('#table').empty()
            }
        })
    }
    monthSelect.on("change", ({ target: { value } }) => {
        getData(value, yearSelect.val())
    })
    yearSelect.on("change", ({ target: { value } }) => {
        getData(monthSelect.val(), value)
    })
</script>
{% endblock scripts %}