{% extends 'auth/base.html' %}
{% load static %}
{% block prompt %}
{% endblock prompt %}
{% block main%}
<div class="mt-8 grid grid-cols-[60%_40%] space-x-3">
    <div>
        <form method="post">
            {% csrf_token %}
            <h1 class="text-[48px] text-white font-bold">WELCOME</h1>
            <h1 class="text-[48px] text-primary font-bold">BACK</h1>
            <div class="mt-[76px] space-y-[5px]">
                <div class="flex flex-col">
                    <label class="text-primary text-[20px]">Surname</label>
                    <input required type="text"
                        class="bg-white border border-primary rounded-[10px] h-[82px] p-[10px] text-[25px]">
                </div>
                <div class="flex flex-col">
                    <label class="text-primary text-[20px]">Phone Number</label>
                    <input required type="tel"
                        class="bg-white border border-primary rounded-[10px] h-[82px] p-[10px] text-[25px]">
                </div>
                <div class="flex justify-between w-full">
                    <div class="flex items-center">
                        <input type="checkbox" name="remember" id="remember" />
                        <label for="remember" class="text-primary text-[24px]">Remember me</label>
                    </div>
                    <span class="text-red-700 text-[24px]">Forgot Password ?</span>
                </div>
            </div>
            <input
                class="mt-[87px] h-[82px] text-white w-full mb-5 cursor-pointer items-center justify-center flex bg-primary rounded-[10px]"
                type="submit" value="Sign In" />
        </form>
        <div class="w-full items-center flex justify-center mb-5">
            <span class="text-[24px] text-white">Don’t have an account? <a href="{% url 'landing-page' %}"
                    class="text-primary">Sign Up</a></span>
        </div>
    </div>
    <div class="flex items-center justify-center h-screen mt-[-80px]">
        <div class="w-[500px] h-[400px] bg-white overflow-hidden"
            style="border-radius: 250px / 200px;transform:rotate(90deg)">
            <img src="{% static 'images/farmer1.png' %}" style="transform:rotate(-90deg);object-fit: cover;"
                class="h-full w-full w-[500px] h-[400px] border-radius: 250px / 200px;" />
        </div>
    </div>
</div>
{% endblock main%}